/**
 * @Author: Your name
 * @Date:   2023-10-31 19:29:43
 * @Last Modified by:   Your name
 * @Last Modified time: 2023-11-07 08:55:35
 */



html::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    background: transparent;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

::selection {
    background: #EEE;
    color: #0e0e0e;
}

@font-face {
    font-family: 'Segoe-UI';
    src: url('../font/Segoe-UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





body {
    margin: 0%;
    padding: 0%;
    background-color: var(--background);
    font-family: "Segoe-UI";
    transition: 0.3s all;
    animation: fadeIn ease 1s;
    overflow-x: hidden;
}

:root {
    --gray-1: #222;
    --gray-2: #333;
    --gray-3: #555;
    --gray-M: #888;
    --white: #fff;
    --white-1: #eee;
    --white-2: #ddd;
    --white-3: #aaa;
}

.dark {
    --background: #080C13;
    --background-2: var(--gray-2);
    --background-3: var(--gray-3);

    --primary: var(--white-1);
    --secondary: var(--white-2);
    --gray: var(--gray-M);
    --scrolling-Marker: rgba(138, 138, 138, 0.5);
    --response-bg: rgba(38, 35, 56, 0.8);
    --nav: rgba(255, 255, 255, 1);
    --nav0: rgba(255, 255, 255, 0);
    --banner: rgba(8, 12, 19, 1);
    --banner0: rgba(8, 12, 19, 0);
}

.light {
    --background: var(--white);
    --background-2: var(--white-1);
    --background-3: var(--white-3);
    --primary: var(--gray-1);
    --secondary: var(--gray-2);
    --gray: var(--gray-M);
    --scrolling-Marker: rgba(80, 80, 80, 0.5);
    --response-bg: rgba(130, 119, 193, 0.8);
    --nav: rgba(0, 0, 0, 1);
    --nav0: rgba(0, 0, 0, 0);

}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    width: 80vw;
    height: 60px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: none;
    border-bottom: 1px solid var(--primary);
}

.theme-toggle svg {
    fill: var(--primary);
    position: absolute;
    /* 设置绝对定位 */
    top: 0px;
    /* 距离顶部的距离 */
    left: 0px;
    /* 距离左侧的距离 */
    z-index: 999;
    /* 设置按钮的堆叠顺序，使其显示在最底层 */
    cursor: pointer;
    /* 鼠标指针样式，表示按钮可点击 */
    transition: 0.3s filter;
}

.theme-toggle svg:hover {
    filter: drop-shadow(0px 0px 6px var(--nav));
    transition: 0.3s filter;
}

.logo img {
    transition: 0.3s filter;
}

.logo img:hover {
    filter: drop-shadow(0px 0px 6px var(--nav));
    transition: 0.3s filter;
}

.main-nav {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin-right: auto;
}

.navbar-link {
    color: var(--primary);
    font-weight: 500;
    transition: 0.3s color;
    text-decoration: none;
    transition: 0.3s font-weight;
}

.navbar-link:hover {
    transition: 0.3s filter;
    filter: drop-shadow(0px 0px 6px var(--nav));
}

.navbar-link:active {
    fill-opacity: 50%;
    font-weight: 200;
    transition: 0.3s color;
    transition: 0.3s font-weight;
}

.navbar-link:hover {
    font-weight: 700;
    transition: 0.2s font-weight;
}


/* 初始状态，用户小页面隐藏 */
.user-popup {
    display: none;
}

.guest-popup {
    display: none;
}

.responsive-user {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    background-color: var(--response-bg);
    backdrop-filter: blur(32px);
    width: 100%;
    padding-top: 100px;
    z-index: 100;
    animation: .5s menuIn;
}

.responsive-user a {
    margin: 1em 3em;
}

@media only screen and (orientation:portrait) {

    /* GLOBAL */
    html,
    body {
        overflow: hidden;
        overflow-y: auto;
    }

    .navbar {
        padding: none;
        justify-content: space-between;
    }

    .main-nav {
        align-items: center;
        text-align: center;
    }

    .footer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: "info nav1" "legal nav2";
    }

    .footer-info {
        padding-top: 1em
    }
}

.mobile-menu {
    display: none;
}

.mobile-nav {
    display: none;
}

.user-nav {
    display: none;
}

.mobile-user {
    display: flex;
    justify-content: flex-end;
}

.menu-bg {
    opacity: 0;
    z-index: 50;
    width: 100vw;
    height: 170px;
    position: fixed;
    background: linear-gradient(180deg, #1B1B54 0%, rgba(27, 27, 84, 0.00) 100%);
}

@media only screen and (orientation: portrait) {
    .footer {
        padding: 6%;
    }
}

@media only screen and (max-width: 1080px) {
    .main-nav {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .responsive {
        display: flex;
        flex-flow: column nowrap;
        position: fixed;
        background-color: var(--response-bg);
        backdrop-filter: blur(32px);
        width: 100%;
        padding-top: 100px;
        z-index: 100;
        animation: .5s menuIn;
    }

    .responsive a {
        margin: 1em 3em;
    }
}

@keyframes menuIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes menuOut {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
    }
}


.footer {
    background-color: --background;
    color: var(--primary);
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: "info info nav1 nav2" "legal legal legal legal";
    gap: 1em;
    padding: 1% 2%;
    width: -webkit-fill-available;
    box-shadow: 0px -8px 16px 0px rgba(18, 32, 52, 0.50);

    z-index: 1;
    position: relative;
}

.footer-info {
    display: flex;
    flex-flow: column nowrap;
    font-weight: 550;
    justify-content: space-between;
}

.info-upper {
    display: flex;
    flex-flow: column nowrap;
    gap: .8em;
    margin-top: 1em;
}

.footer-link-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
}

.footer-legal {
    border-top: 1px solid var(--gray-M);
    color: var(--gray-M);
    padding-top: .3em;
    margin-top: .7em;
}

a:active {
    color: var(--background-3);
    transition: 0.2s color;
}

a {
    text-decoration: none;
    color: var(--secondary);
    transition: 0.2s all;
}

.footer a:hover {
    font-weight: 700;
    transition: 0.2s font-weight;
}

.scrollToTopButton {
    fill: var(--scrolling-Marker);
    position: fixed;
    top: 55.8%;
    right: 2vh;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.scrollToTopButton.show {
    opacity: 1;
}



.placeholder {
    height: 20vh;
}

/* banner start */
.banner {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main {
    height: 75vh;
    width: 100vw;
    position: relative;
    margin-bottom: 0.5vh;

}


.main img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}




.main .content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.content-holder h2 {
    padding-top: 12px;
    font-size: 3.5rem;
    z-index: 3;
    margin-bottom: 0;
}

.main .content-holder h3 {
    z-index: 3;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, var(--banner), var(--banner0));
    z-index: 2;
}

.secondary {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 75vh;
    width: 100vw;
    margin: 0.5%;
    padding: 0;
}

.secondary img:hover {
    transform: translateY(-2px);
}

.secondary img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}


.secondary .left:hover {
    transform: translateY(-2px);
}

.secondary .left {
    width: 49.5%;
    overflow: hidden;
    position: relative;
    transition: all 0.2s linear;
}



.secondary .right:hover {
    transform: translateY(-2px);
    }
.secondary .right {
    width: 49.5%;
    overflow: hidden;
    position: relative;
    transition: all 0.2s linear;
}

/* banner end */