html {
    font-size: 62.5%;
    background-color: #EEEEEE;
}

/* 顶部导航栏start */
.wrap {
    display: flex;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.wrap .top-bar-left {
    margin-left: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap .top-bar-right {
    display: flex;
    margin-right: 5rem;
    justify-content: space-between;
    align-items: center;
}

.wrap .top-bar-right ul {
    display: flex;
}

.wrap a {
    padding: 0 2rem;
    font-size: 1.5rem;
    color: #797979;
}

.wrap p {
    padding: 0 2rem;
    font-size: 1.5rem;
    color: #797979;
}

.wrap .top-bar-right li {
    position: relative;
}


.wrap .top-bar-left img {
    width: 4rem;
}

.contact-us {
    width: 12rem;
    height: 12rem;
    background-color: #fff;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.5);
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;

}

.wrap .top-bar-right li:hover>.contact-us {
    display: flex;
}

.contact-us img {
    width: 10rem
}

.contact-us p {
    font-size: 1rem;
}

.cart-list {
    width: 30rem;
    height: 10rem;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 .5rem .5rem -0.3rem rgba(0, 0, 0, 0.3);
    color: #424242;
    overflow: hidden;
    top: 4rem;
    right: 0rem;

}

.cart-list p {
    font-size: 1.2rem;
}

.cart {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-right: 5rem;
    background-color: #424242;
}

.cart:hover {
    background-color: #fff;
}

.cart:hover>a {
    color: #ff8080;
}

.cart:hover>.cart-list {
    display: flex;
}
#contact-us{
    margin-right: 18rem;
}
/* 顶部导航栏end */

/* 搜索框start */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100vw;
    background-color: #fff;
}

.search-bar .category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar li {
    padding-left: 3rem;
    padding-right: 3rem;
}

.search-bar .logo {
    margin-left: 10rem;
    width: 5.5rem;
    height: 5.5rem;


}

.search-bar .search {
    margin-right: 10rem;
}

.search-bar .logo>img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.search-bar .nav-bar li a {
    padding: 0 1rem;
    font-size: 1.5rem;
}

.search-bar .nav-bar li a:hover {
    color: #ff8080;
}

.search-bar .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input {
    width: 24rem;
    height: 5rem;
    border: .1rem solid #e0e0e0;
    box-sizing: border-box;
    padding: 0 2rem;
    outline: none;
    margin-right: 1rem;
    border-radius: 2.5rem;
}

.search-bar button {
    width: 5rem;
    height: 5rem;
    border: .1rem solid #e0e0e0;
    border-radius: 2.5rem;
}

/* 搜索框end */